<%- include("partials/head") %>
    <%- include("partials/navbar") %>
        <div class="container p-5 border rounded shadow-md mt-3 w-50 mx-auto">
            <form action="/" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary d-block ms-auto">sign in</button>
                </div>
            </form>
        </div>
<%- include("partials/foot") %>